<h2>チャットルーム作成</h2>

<%= form_with model: @chatroom, local: true do |f| %>
  <div>
    <%= f.label :user_match_1, "ユーザー1のID" %>
    <%= f.number_field :user_match_1 %>
  </div>

  <div>
    <%= f.label :user_match_2, "ユーザー2のID" %>
    <%= f.number_field :user_match_2 %>
  </div>

  <div>
    <%= f.label :match_id, "マッチID" %>
    <%= f.number_field :match_id %>
  </div>

  <div>
    <%= f.submit "チャットルーム作成" %>
  </div>
<% end %>