
<section class="intro-wrapper">

<h1 class="page-title">プロフィール編集</h1>

<div class="form-group">
<%= form_with(model: @user, local: true) do |f| %>
    <p><%= f.label :name, "ユーザー名" %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :skill, "スキル" %></p>
    <p><%= f.text_field :skill %></p>
    <p><%= f.label :description, "自己紹介" %></p>
    <p><%= f.text_area :description %></p>
    <p><%= f.submit "更新" %></p>
<% end %>
</div>

<div class="back-btn">
<%= link_to "戻る", user_path(@user), class: "btn-element" %>
<%= button_to "削除", user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn-element" %>
</div>

