#リスト一覧からクリックした人のユーザー詳細

<section class="intro-wrapper">

<h1>ユーザー詳細</h1>

<div class="user-intro-wrapper">
<p>ユーザー名: <%= @user.name %></p>
<p> スキル: <%= @user.skill %></p>
<p> 自己紹介：<%= @user.description %></p>
<p> 登録日： <%= @user.created_at.strftime("%Y年%m月%d日") %></p>
</div>

<%= link_to "戻る", user_path(@user), class: "btn btn-primary" %>

</section>