<div class="header-nav-wrapper">
  <header class="header-top-login">
    <h1>エンジニア同士がスキルで<br>繋がれるマッチングアプリ</h1>
  </header>
  <nav class="nav-bar">
    <p>ようこそ、<%= current_user.name %>さん</p>
    <ul>
      <li><%= link_to "アカウント情報", account_path, class: "nav-link" %></li>
      <li><%= link_to "マイプロフィール", user_path(current_user), class: "nav-link" %></li>
      <li><%= link_to "いいね管理", likes_path, class: "nav-link" %></li>
      <li><%= link_to "マッチング一覧", matches_path, class: "nav-link" %></li>
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-link" %>
    </ul>
  </nav>
</div>

<h2 class="page-title"><%= link_to "マッチング一覧", matches_path, class: "nav-link" %></h2>

<% @matches.each do |match| %>
  <div class="match-item">
    <h3><%= match.user1.name %> と <%= match.user2.name %>が<span class="match-status">マッチしました</span>!</h3>
    <p>マッチング日時: <%= match.created_at.strftime("%Y/%m/%d %H:%M") %></p>

    <div class="chat-button">
      <% if match.chatroom.present? %>
        <%= link_to "チャットを開始", chatroom_path(match.chatroom), class: "btn-element-chat" %>
      <% else %>
        <p>チャットルーム未作成</p>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to "戻る", root_path, class: "btn-element" %>